[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "thirdparty/rwr"]
	path = thirdparty/rwr
	url = git@gitlab.ssc-os.local:LightVR/rwr.git
